In [1]:
import pandas as pd
import os 
from functools import reduce

In [2]:
folder_path = '/Users/AnhHuynh/Documents/CS504-006-Team2/data/monthly_data'  # Replace with your path
csv_files = [f for f in os.listdir(folder_path) if f.endswith('.csv')]

csv_dfs = []

for file in csv_files:
    file_path = os.path.join(folder_path, file)
    df = pd.read_csv(file_path)

    # Convert to datetime
    df['observation_date'] = pd.to_datetime(df['observation_date'])

    csv_dfs.append(df)

In [3]:
# house_index = pd.read_csv("data/USSTHPI-quarterly.csv")
recession_indicator = pd.read_csv("data/USRECQ-quarterly.csv")
gdp = pd.read_csv("data/GDPC1-quarterly.csv")

In [4]:
def expand_quarterly_to_monthly(df, value_col):
    """
    Expand a quarterly dataset to monthly frequency by evenly distributing the value
    over the 3 months in each quarter.

    Parameters:
        df (pd.DataFrame): Input DataFrame with 'observation_date' and value column.
        value_col (str): Name of the column containing quarterly values.

    Returns:
        pd.DataFrame: Expanded monthly DataFrame.
    """
    df['observation_date'] = pd.to_datetime(df['observation_date'])

    def expand_row(row):
        base_date = row['observation_date']
        monthly_value = row[value_col] / 3
        return pd.DataFrame({
            'observation_date': [base_date, base_date + pd.DateOffset(months=1), base_date + pd.DateOffset(months=2)],
            value_col: [monthly_value] * 3
        })

    monthly_df = pd.concat([expand_row(row) for _, row in df.iterrows()], ignore_index=True)
    monthly_df.sort_values('observation_date', inplace=True)
    monthly_df.reset_index(drop=True, inplace=True)
    return monthly_df

In [5]:
# house_index_monthly= expand_quarterly_to_monthly(house_index, "USSTHPI")
recession_indicator_monthly = expand_quarterly_to_monthly(recession_indicator, "USRECQ")
gpd_monthly = expand_quarterly_to_monthly(gdp, "GDPC1")

In [6]:
T10Y3M = pd.read_csv("data/T10Y3M-dailycsv.csv")

T10Y3M['observation_date'] = pd.to_datetime(T10Y3M['observation_date'])

# Resample to monthly (you can also use 'sum', 'max', etc.)
T10Y3M_monthly = T10Y3M.resample('MS', on='observation_date').mean().reset_index()

In [8]:
all_dfs = csv_dfs + [recession_indicator_monthly, gpd_monthly, T10Y3M_monthly]

In [9]:
# --- Step 3: Merge all 8 on observation_date ---
merged_df = reduce(lambda left, right: pd.merge(left, right, on='observation_date', how='outer'), all_dfs)

# --- Step 4: Sort and export ---
merged_df.sort_values('observation_date', inplace=True)
merged_df.reset_index(drop=True, inplace=True)

# Output preview
print(merged_df.head(50))

   observation_date  CSUSHPINSA  HOUST  MSACSRNSA  FEDFUNDS        RPI  \
0        2006-01-01     180.828   2273        5.9      4.29  13214.527
1        2006-02-01     181.500   2119        6.1      4.49  13283.182
2        2006-03-01     182.749   1969        5.1      4.59  13340.072
3        2006-04-01     183.648   1821        5.6      4.79  13347.045
4        2006-05-01     184.380   1942        5.5      4.94  13336.874
5        2006-06-01     184.547   1802        5.8      4.99  13353.303
6        2006-07-01     184.607   1737        6.9      5.24  13342.387
7        2006-08-01     184.404   1650        6.5      5.25  13329.621
8        2006-09-01     184.198   1720        7.0      5.25  13408.301
9        2006-10-01     184.053   1491        7.5      5.25  13479.950
10       2006-11-01     183.630   1570        7.8      5.25  13547.935
11       2006-12-01     183.229   1649        7.6      5.24  13627.346
12       2007-01-01     182.718   1409        8.2      5.25  13651.743
13       2007-02-01     182.471   1480        8.0      5.26  13711.191
14       2007-03-01     182.193   1495        6.8      5.26  13762.811
15       2007-04-01     182.131   1490        6.5      5.25  13784.697
16       2007-05-01     181.885   1415        6.9      5.25  13791.861
17       2007-06-01     181.540   1448        7.5      5.25  13786.416
18       2007-07-01     180.993   1354        8.0      5.26  13795.953
19       2007-08-01     180.234   1330        8.9      5.02  13795.066
20       2007-09-01     179.122   1183        9.9      4.94  13813.791
21       2007-10-01     177.529   1264        9.0      4.76  13796.513
22       2007-11-01     175.161   1197       11.2      4.49  13787.506
23       2007-12-01     173.337   1037       11.4      4.24  13846.539
24       2008-01-01     171.076   1084       11.1      3.94  13862.766
25       2008-02-01     169.190   1103        9.9      2.98  13877.177
26       2008-03-01     167.902   1005        9.5      2.61  13893.695
27       2008-04-01     167.321   1013        9.3      2.28  13854.440
28       2008-05-01     167.019    973        9.3      1.98  14441.892
29       2008-06-01     166.536   1046        9.6      2.00  14094.894
30       2008-07-01     165.713    923        9.8      2.01  13867.615
31       2008-08-01     164.277    844       10.8      2.00  13780.340
32       2008-09-01     161.912    820       11.4      1.81  13789.923
33       2008-10-01     159.162    777       12.0      0.97  13883.254
34       2008-11-01     156.071    652       13.6      0.39  13982.019
35       2008-12-01     152.544    560       13.6      0.16  13891.878
36       2009-01-01     149.361    490       14.3      0.15  13762.240
37       2009-02-01     147.617    582       11.2      0.22  13603.699
38       2009-03-01     146.514    505        9.9      0.18  13570.847
39       2009-04-01     146.942    478        9.4      0.15  13601.477
40       2009-05-01     148.169    540        8.4      0.18  13779.884
41       2009-06-01     149.796    585        7.6      0.21  13544.781
42       2009-07-01     150.748    594        7.2      0.16  13493.206
43       2009-08-01     150.668    586        7.3      0.16  13468.487
44       2009-09-01     149.628    585        8.4      0.15  13502.606
45       2009-10-01     148.585    534        7.4      0.12  13460.827
46       2009-11-01     147.940    588        9.0      0.12  13494.222
47       2009-12-01     146.666    581        9.6      0.12  13551.644
48       2010-01-01     145.003    614        9.7      0.11  13610.249
49       2010-02-01     143.054    604        8.6      0.13  13610.405

     PCEPI    USRECQ        GDPC1    T10Y3M
0   83.534  0.000000  5451.278333  0.080000
1   83.584  0.000000  5451.278333  0.029474
2   83.746  0.000000  5451.278333  0.096087
3   84.135  0.000000  5465.383667  0.268947
4   84.361  0.000000  5465.383667  0.273636
5   84.569  0.000000  5465.383667  0.188636
6   84.858  0.000000  5473.579333  0.011000
7   85.125  0.000000  5473.579333 -0.213913
8   84.902  0.000000  5473.579333 -0.211000
9   84.702  0.000000  5520.622000 -0.317143
10  84.731  0.000000  5520.622000 -0.478095
11  85.032  0.000000  5520.622000 -0.408500
12  85.316  0.000000  5537.230000 -0.345714
13  85.581  0.000000  5537.230000 -0.440526
14  85.894  0.000000  5537.230000 -0.515455
15  86.096  0.000000  5571.104667 -0.312857
16  86.346  0.000000  5571.104667 -0.121364
17  86.529  0.000000  5571.104667  0.360952
18  86.661  0.000000  5603.195667  0.043333
19  86.720  0.000000  5603.195667  0.357826
20  87.054  0.000000  5603.195667  0.527368
21  87.318  0.000000  5638.397000  0.525000
22  87.781  0.000000  5638.397000  0.794000
23  87.984  0.000000  5638.397000  1.031000
24  88.206  0.333333  5614.334333  0.924286
25  88.382  0.333333  5614.334333  1.563500
26  88.635  0.333333  5614.334333  2.226500
27  88.799  0.333333  5647.763667  2.363182
28  89.180  0.333333  5647.763667  2.115714
29  89.827  0.333333  5647.763667  2.209048
30  90.245  0.333333  5618.098333  2.352727
31  90.172  0.333333  5618.098333  2.132857
32  90.247  0.333333  5618.098333  2.539524
33  89.651  0.333333  5495.116667  3.128182
34  88.593  0.333333  5495.116667  3.332778
35  88.098  0.333333  5495.116667  2.382273
36  88.108  0.333333  5432.754000  2.388000
37  88.266  0.333333  5432.754000  2.574737
38  88.169  0.333333  5432.754000  2.603636
39  88.295  0.333333  5423.048333  2.769048
40  88.387  0.333333  5423.048333  3.116000
41  88.912  0.333333  5423.048333  3.543182
42  88.922  0.000000  5442.093667  3.378636
43  89.180  0.000000  5442.093667  3.415238
44  89.324  0.000000  5442.093667  3.278571
45  89.663  0.000000  5500.918000  3.313333
46  89.887  0.000000  5500.918000  3.350526
47  89.939  0.000000  5500.918000  3.535455
48  90.136  0.000000  5527.570000  3.671579
49  90.134  0.000000  5527.570000  3.582105

In [10]:
merged_df.to_csv("combined_dataset.csv", index=False)

In [11]:
rpi = pd.read_csv('data/monthly_data/RPI.csv')

In [21]:
cs_house_index = pd.read_csv("data/monthly_data/CSUSHPINSA.csv")
cs_house_index.head()

  observation_date  CSUSHPINSA
0       2006-01-01     180.828
1       2006-02-01     181.500
2       2006-03-01     182.749
3       2006-04-01     183.648
4       2006-05-01     184.380

In [13]:
data = pd.read_csv("combined_dataset.csv")

data.head()

,observation_date,CSUSHPINSA,HOUST,MSACSRNSA,FEDFUNDS,RPI,PCEPI,USRECQ,GDPC1,T10Y3M
0,2006-01-01,180.828,2273,5.9,4.29,13214.527,83.534,0.0,5451.278333,0.080000
1,2006-02-01,181.500,2119,6.1,4.49,13283.182,83.584,0.0,5451.278333,0.029474
2,2006-03-01,182.749,1969,5.1,4.59,13340.072,83.746,0.0,5451.278333,0.096087
3,2006-04-01,183.648,1821,5.6,4.79,13347.045,84.135,0.0,5465.383667,0.268947
4,2006-05-01,184.380,1942,5.5,4.94,13336.874,84.361,0.0,5465.383667,0.273636

In [14]:
rename_dict = {
    'observation_date': 'Date',
    'CSUSHPINSA': 'house_price_index',
    'HOUST': 'new_private_house_owned',
    'MSACSRNSA': 'home_supply',
    'FEDFUNDS': 'federal_rate',
    'RPI': 'real_income',
    'PCEPI': 'consumption_price_index',
    'USRECQ': 'recession_indicator',
    'GDPC1': 'gdp',
    'T10Y3M': 'treasury_maturity'
}

In [15]:
data = data.rename(columns=rename_dict)

In [16]:
data.head()

,Date,house_price_index,new_private_house_owned,home_supply,federal_rate,real_income,consumption_price_index,recession_indicator,gdp,treasury_maturity
0,2006-01-01,180.828,2273,5.9,4.29,13214.527,83.534,0.0,5451.278333,0.080000
1,2006-02-01,181.500,2119,6.1,4.49,13283.182,83.584,0.0,5451.278333,0.029474
2,2006-03-01,182.749,1969,5.1,4.59,13340.072,83.746,0.0,5451.278333,0.096087
3,2006-04-01,183.648,1821,5.6,4.79,13347.045,84.135,0.0,5465.383667,0.268947
4,2006-05-01,184.380,1942,5.5,4.94,13336.874,84.361,0.0,5465.383667,0.273636